.prices {
  padding: 96px 0;
  border-radius: 50px 50px 0 0;
  background: #f4f4f4;
  background-size: 100%;
  min-height: 100vh;
  overflow-y: auto;
  position: relative;
  top: 0;
  z-index: 5;
  margin-top: -45px;
  @media (max-width: 768px) {
    border-radius: 0;
    padding: 30px 5px 90px;
  }
  &::-webkit-scrollbar {
    display: none;
  }
  &_top {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    @media (max-width: 768px) {
      flex-direction: column;
      gap: 10px;
    }
    .section_title {
      flex: 0 0 auto;
    }
    p {
      color: #292d32;
      font-family: "Manrope";
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px;
      max-width: 530px;
      @media (max-width: 768px) {
        font-size: 12px;
        line-height: normal;
      }
    }
  }
  &_items {
    display: flex;
    justify-content: space-between;
    margin-top: 68px;
    @media (max-width: 1024px) {
      flex-wrap: wrap;
      gap: 30px 0;
    }
    @media (max-width: 768px) {
      margin-top: 20px;
      gap: 10px;
    }
  }
  &_item {
    width: calc(33.33% - 19px);
    border-radius: 32px;
    border: 1px solid #ededed;
    background: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.08);
    padding: 40px;
    position: relative;
    cursor: pointer;
    transition: all 0.3s linear;
    @media (max-width: 1024px) {
      width: calc(50% - 15px);
    }
    @media (max-width: 768px) {
      width: 100%;
      padding: 20px;
      border-radius: 15px;
    }
    &_icon {
      display: flex;
      width: 40px;
      height: 40px;
      padding: 5px;
      justify-content: center;
      align-items: center;
      border-radius: 100px;
      border: 1px solid rgba(255, 255, 255, 0);
      background: linear-gradient(180deg, #0c0c0c 0%, #3d3d3d 100%);
      transition: all 0.3s linear;
      @media (max-width: 768px) {
        display: none;
      }
    }
    &_top {
      img {
        @media (max-width: 768px) {
          display: none;
        }
      }
    }
    &:hover {
      box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.08);
      .prices_item_icon {
        background: #e03131;
      }
    }
    &:first-child {
      p {
        width: calc(100% + 22px);
        letter-spacing: -0.4px;
      }
    }
    .top_badge {
      border-radius: 10px 0 0 10px;
      background: #ffcf29;
      padding: 5px 12px 4px;
      color: #fff;
      font-family: "Manrope";
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px;
      position: absolute;
      top: 45px;
      right: 0;
      @media (max-width: 768px) {
        position: static;
        padding: 3px 10px;
        border-radius: 5px;
        margin-bottom: 7px;
        display: block;
        width: fit-content;
      }
    }
    &_title {
      color: #0c0c0c;
      font-family: "Buyan-regular";
      font-size: 32px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
      margin-top: 24px;
      @media (max-width: 1285px) {
        font-size: 26px;
      }
      @media (max-width: 768px) {
        margin-top: 0;
        font-size: 22px;
      }
    }
    p {
      color: #828282;
      margin-top: 4px;
      font-family: "Manrope";
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0%;
      @media (max-width: 768px) {
        font-size: 12px;
      }
    }
    &_sum {
      color: #0c0c0c;
      font-family: "Manrope";
      font-size: 48px;
      font-style: normal;
      font-weight: 400;
      line-height: 56px;
      margin-top: 32px;
      @media (max-width: 768px) {
        font-size: 24px;
        margin-top: 10px;
        line-height: normal;
      }
    }
    &_body {
      display: flex;
      flex-direction: column;
      gap: 16px;
      margin-top: 30px;
      padding-top: 30px;
      border-top: 1px solid #ededed;
      @media (max-width: 768px) {
        margin-top: 20px;
        padding-top: 10px;
        gap: 5px;
      }
      h4 {
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        @media (max-width: 768px) {
          font-size: 17px;
        }
      }
      ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        gap: 16px;
        li {
          display: flex;
          align-items: center;
          gap: 8px;
          @media (max-width: 768px) {
            font-size: 12px;
          }
        }
      }
    }
  }
  &_btn {
    border-radius: 5px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.32) inset;
    color: #0c0c0c;
    font-family: "Buyan";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    margin-top: 32px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    line-height: 20px;
    padding: 12px 14px;
    transition: all 0.3s linear;
    @media (max-width: 768px) {
      margin-top: 13px;
    }
    &:hover {
      border-radius: 5px;
      background: #e03131;
      box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.32) inset;
      color: #fff;
    }
    &.red {
      border-radius: 5px;
      background: #e03131;
      box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.32) inset;
      color: #fff;
    }
  }
}
