.prices {
  padding: 96px 0;
  border-radius: 50px 50px 0 0;
  background: #f4f4f4;
  background-size: 100%;
  min-height: 100dvh;
  position: sticky;
  top: 0;
  z-index: 4;
  &_top {
    display: flex;
    justify-content: space-between;
    p {
      color: #292d32;
      font-family: "Manrope";
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px;
      max-width: 530px;
    }
  }
  &_items {
    display: flex;
    justify-content: space-between;
    margin-top: 68px;
  }
  &_item {
    width: calc(33.33% - 19px);
    border-radius: 32px;
    border: 1px solid #ededed;
    background: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.08);
    padding: 40px;
    position: relative;
    &:first-child {
      p {
        width: calc(100% + 22px);
        letter-spacing: -0.4px;
      }
    }
    .top_badge {
      border-radius: 10px 0 0 10px;
      background: #ffcf29;
      padding: 5px 12px 4px;
      color: #fff;
      font-family: "Manrope";
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px;
      position: absolute;
      top: 45px;
      right: 0;
    }
    &_title {
      color: #0c0c0c;
      font-family: "Buyan-regular";
      font-size: 32px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
      margin-top: 24px;
    }
    p {
      color: #828282;
      margin-top: 4px;
      font-family: "Manrope";
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0%;
    }
    &_sum {
      color: #0c0c0c;
      font-family: "Manrope";
      font-size: 48px;
      font-style: normal;
      font-weight: 400;
      line-height: 56px;
      margin-top: 32px;
    }
    &_body {
      display: flex;
      flex-direction: column;
      gap: 16px;
      margin-top: 30px;
      padding-top: 30px;
      border-top: 1px solid #ededed;
      ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        gap: 16px;
        li {
          display: flex;
          align-items: center;
          gap: 8px;
        }
      }
    }
  }
  &_btn {
    border-radius: 5px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.32) inset;
    color: #0c0c0c;
    font-family: "Buyan";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    margin-top: 32px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    line-height: 20px;
    padding: 12px 14px;
    &.red {
      border-radius: 5px;
      background: #e03131;
      box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.32) inset;
      color: #fff;
    }
  }
}
