.production {
  padding: 100px 0;
  position: relative;
  top: 0;
  min-height: 100vh;
  z-index: 8;
  border-radius: 50px 50px 0 0;
  background: #fff;
  margin-top: -40px;

  .section_title {
    display: block;
    max-width: 1098px;
    span {
      color: #e03131;
    }
  }
  &_description {
    width: 100%;
    max-width: 856px;
    color: #828282;
    font-size: 16px;
    line-height: normal;
    margin-top: 20px;
  }
  &_items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 70px;
  }
  &_item {
    width: calc(33.33% - 10px);
    cursor: pointer;
    &_top {
      width: 100%;
      position: relative;
      img:first-child {
        width: 100%;
        display: block;
      }
      img:last-child {
        position: absolute;
        inset: 0;
        margin: auto;
        width: 50px;
      }
    }
    &_body {
      margin-top: 20px;
      p {
        line-height: normal;
        transition: all 0.3s linear;
        margin-top: 5px;
      }
    }
    &_title {
      color: #0c0c0c;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      transition: all 0.3s linear;
      &.last {
        width: calc(100% + 29px);
      }
    }
    &:hover {
      .production_item_title {
        color: #e03131;
      }
      .production_item_body p {
        color: #e03131;
      }
    }
  }
  .button {
    border-radius: 5px;
    border: 1px solid #000;
    color: #0a0a0a;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    background: #fff;
    padding: 13px 34px;
    margin: 40px auto 0;
    display: block;
    width: fit-content;
    transition: all 0.3s linear;
    &:hover {
      color: #fff;
      background: #282828;
    }
  }
}
