.services {
  position: relative;
  background: #000;
  display: flex;
  align-items: center;
  padding: 100px 0 0;
  z-index: 2;
  overflow: hidden;
  @media (max-width: 768px) {
    padding: 40px 0 30px;
  }
  &_content {
    display: flex;
    justify-content: space-between;
    gap: 35px;
    @media (max-width: 1330px) {
      gap: 20px;
    }
    @media (max-width: 768px) {
      flex-direction: column;
    }

    &_left {
      width: 100%;
      max-width: 513px;
      @media (max-width: 1330px) {
        max-width: 533px;
      }
      @media (max-width: 1200px) {
        max-width: 650px;
      }
      @media (max-width: 768px) {
        width: 100%;
        max-width: 100%;
      }
    }
  }
  .container {
    position: relative;
  }
  &_toptitle {
    color: #828282;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 3.2px;
    @media (max-width: 768px) {
      font-size: 14px;
      margin-bottom: 3px;
    }
  }
  &_title {
    color: #fff;
    font-family: "Buyan-regular";
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0%;
    @media (max-width: 1330px) {
      font-size: 56px;
    }
    @media (max-width: 1214px) {
      font-size: 48px;
    }
    @media (max-width: 1200px) {
      font-size: 40px;
    }
    @media (max-width: 768px) {
      font-size: 36px;
    }
    .red {
      color: #e03131;
    }
    .services_btn {
      border-radius: 5px;
      border: 1px solid #282828;
      background: #fff;
      backdrop-filter: blur(2.5px);
      color: #0c0c0c;
      font-family: "Manrope";
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-transform: uppercase;
      padding: 11.5px 11px;
      position: relative;
      top: -17px;
      @media (max-width: 1200px) {
        font-size: 15px;
        top: -10px;
        padding: 10px;
      }
      @media (max-width: 500px) {
        display: none;
      }
    }
  }
  &_video {
    position: relative;
    width: 100%;
    max-width: 750px;
    line-height: normal;
    .video_img {
      @media (max-width: 992px) {
        width: 100%;
      }
    }
    @media (max-width: 1330px) {
      max-width: 700px;
    }
    @media (max-width: 1200px) {
      max-width: 600px;
    }
    @media (max-width: 1024px) {
      max-width: 520px;
    }
    @media (max-width: 768px) {
      width: 100%;
      max-width: 100%;
    }
    .play_img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      @media (max-width: 768px) {
        width: 40px;
      }
    }
  }
  &_text {
    color: #afafaf;
    font-family: "Manrope";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin-top: 50px;
    @media (max-width: 768px) {
      font-size: 14px;
      line-height: 24px;
      margin-top: 20px;
    }
    &.gray {
      color: #828282;
      margin-top: 10px;
    }
  }
  .big_text {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #323232;
    font-family: "Buyan";
    font-size: 250px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: relative;
    left: -20%;
    right: auto;
    z-index: -1;
    height: 170px;
    @media (max-width: 768px) {
      display: none;
    }
  }
}
