@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "_header";
@import "_hero";
@import "services";
@font-face {
  font-family: "Buyan";
  src: url(../fonts/BuyanBold.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Manrope";
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  background: #0c0c0c;
}
.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
}
.button {
  border-radius: 5px;
  background:
    radial-gradient(
      76.16% 76.16% at 31.97% 19.67%,
      rgba(255, 173, 173, 0.7) 0%,
      rgba(255, 173, 173, 0) 69.79%,
      rgba(255, 173, 173, 0) 100%
    ),
    #c21c1c;
  color: #fff;
  font-family: "Buyan";
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  text-decoration: none;
}
main{
  position: relative;
}