@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "_header";
@import "_hero";
@import "services";
@import "projects";
@import "studio";
@import "gallery";
@import "prices";
@import "booking";
@import "production";
@import "news";
@import "podcast";
@import "testimonials";
@import "faq";
@import "footer";
@font-face {
  font-family: "Buyan";
  src: url(../fonts/BuyanRegular.ttf);
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Buyan";
  src: url(../fonts/BuyanBold.ttf);
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Buyan-regular";
  src: url(../fonts/BuyanRegular.ttf);
}
:root {
  --header-h: 132px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Manrope";
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  background: #0c0c0c;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}
// .wrapper {
//   overflow: hidden;
// }
.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  @media (max-width: 1330px) {
    padding: 0 15px;
  }
}
.button {
  border-radius: 5px;
  background:
    radial-gradient(
      76.16% 76.16% at 31.97% 19.67%,
      rgba(255, 173, 173, 0.7) 0%,
      rgba(255, 173, 173, 0) 69.79%,
      rgba(255, 173, 173, 0) 100%
    ),
    #c21c1c;
  color: #fff;
  font-family: "Buyan";
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  text-decoration: none;
}
main {
  position: relative;
}
.section_title {
  color: #0c0c0c;
  display: flex;
  align-items: center;
  font-family: "Buyan";
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  gap: 10px;
}
.ellipse_button {
  width: 150px;
  height: 150px;
  display: flex;
  border-radius: 50%;
  margin: -247px auto auto;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-direction: column;
  color: #0c0c0c;
  text-align: center;
  font-family: "Manrope";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  background: #fff;
  text-decoration: none;
  position: absolute;
  left: 0;
  right: 0;
}

.screen {
  scroll-snap-align: start;
  scroll-snap-stop: always;
}
main {
  scroll-snap-type: y mandatory;
}

.screen {
  scroll-snap-align: start;
}
